﻿
@{
    ViewBag.Title = "Все клиенты";
    string My, NotMy;
    if (ViewBag.M == true)
    {
        My = "Скр/отобразить клиентов менеджера";
        NotMy = "Скр/отобразить клиентов дилера";
    }
    else
    {
        My = "Скр/отобразить клиентов дилера";
        NotMy = "Скр/отобразить клиентов менеджера";
    }
}

<h2>Все клиенты</h2>
@if (ViewBag.Clients!=null)
{
<p>
    <input type="button" id="but1" class="btn btn-default" value="@My" onclick="hideShowDiv(1);">
</p>
<div id="myclients">
    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Код ОКПО</th>
                <th>Регион</th>
                <th>Населенный пукнт</th>
                <th>Примечание</th>
                <th>Ред</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BetonMashNew.Models.ClientCi a in ViewBag.Clients)
            {
                <tr>
                    <td>
                        @a.NameCompany
                    </td>
                    <td>
                        @a.KodOPK
                    </td>
                    <td>
                        @a.NameRegion
                    </td>
                    <td>
                        @a.NameCity
                    </td>
                    <td>
                        @if (a.Note!=null)
                        { 
                        if (a.Note.Length > 40)
                        {
                        string NoteV = a.Note.Replace("\r\n","");
                          @a.Note.Substring(0, 36) <a href="#" onclick="ale('@NoteV');return false">отбр</a>
                        }
                        else
                        {
                            @a.Note
                        }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Ред", "EditClient", new { id = a.UserId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
@if(ViewBag.Strangers!=null)
{ 
<p>
    <input type="button" id="but1" class="btn btn-default" value="@NotMy" onclick="hideShowDiv(2);">
</p>
<div id="Strangersclients">
    <table id="StrangersTable" class="tablesorter">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Код ОКПО</th>
                <th>Регион</th>
                <th>Населенный пукнт</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BetonMashNew.Models.ClientCi a in ViewBag.Strangers)
            {
                <tr>
                    <td>
                        @a.NameCompany
                    </td>
                    <td>
                        @a.KodOPK
                    </td>
                    <td>
                        @a.NameRegion
                    </td>
                    <td>
                        @a.NameCity
                    </td>
                    <td>
                        @if (a.Note.Length > 40)
                        {
                            @a.Note.Substring(0, 36) <a href="#" onclick="ale('@a.Note');return false">отбр</a>
                        }
                        else
                        {
                            @a.Note
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
}
    @section Scripts {
 @Scripts.Render("~/bundles/jqueryval") 

        @Scripts.Render("~/Scripts/jquery.tablesorter.min.js")

        <script type="text/javascript">


            $(document).ready(function () {
                $("#myTable").tablesorter();
            });

            $(document).ready(function () {
                $("#StrangersTable").tablesorter();
            });

            function ale(a) {
                alert(a);
            }

            function hideShowDiv(a) {
                if (a == 1)
                    $('#myclients').toggle('slow');
                if (a == 2)
                    $('#Strangersclients').toggle('slow');
            }


        </script>
    }




