﻿@model BetonMashNew.Models.Client

@{
    ViewBag.Title = "Редактирование клиента";
}

<h2>Изменить клиента</h2>

@using (Html.BeginForm("EditClient", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    <input type="hidden" name="UserId" value=@Model.UserId>
    <div class="form-group">
        @Html.LabelFor(m => m.NameCompany, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NameCompany, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.KodOPK, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.KodOPK, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Note, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Region, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select id="Region" name="Region" class="form-control">
                @foreach (BetonMashNew.Models.RegionCl a in ViewBag.Regions)
                {
                  if (Model.Region == a.RegionId)
                  {
                     <option selected value="@a.RegionId">@a.Name</option>
                     }
                 else
                     {
                    <option value="@a.RegionId">@a.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select id="City" name="City" class="form-control">
                @foreach (BetonMashNew.Models.CityCl a in ViewBag.Cities)
                {
                  if (Model.City == a.CityId)
                  {
                     <option selected value="@a.CityId">@a.Name</option>
                     }
                  else
                  {
                    <option value="@a.CityId">@a.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Изменить клиента" />
        </div>
    </div>
}

<h2>Удалить клиента</h2>
<p>
    @Html.ActionLink("Удалить клиента", "DeleteClient", new { id = Model.UserId })
</p>
