﻿@{
    ViewBag.Title = "БЕТОНМАШ";
}

<div class="row">
    <div class="col-md-4">
        <h2>О НАС</h2>
        <p>
            Частное Акционерное Общество "БЕТОНМАШ" - машиностроительный завод с полным циклом производства, история которого начинается с апреля 1941 года.
            Сегодня БЕТОНМАШ - ведущий производитель бетоносмесительной и строительной техники в странах бывшего Советского  Союза и оборудования для горно-металлургического комплекса.
        </p>      
    </div>
    <div class="col-md-4">
        <h2>РЕЗУЛЬТАТЫ РАБОТЫ</h2>
        <p>
            Мы поставили 15 205 бетонных заводов производительностью от 20 до 150 м.куб в час в 51 страну мира. Произвели 52 325 бетоносмесителей различных типов. Высокая производительность и надежность оборудования позволят выпускать растворы и бетоны с низкой себестоимостью.
        </p>    
    </div>
    <div class="col-md-4">
        <h2>ПРИМЕНЕНИЕ</h2>
        <p>
            Наше оборудование широко используется для строительства гидроэлектростанций, дорог, портов, мостов, аэропортов, тоннелей и других средних или крупных проектов, а также применяется в технологическом процессе на металлургических, химических и горно-рудных комбинатах
        </p>
       
    </div>
</div>