﻿@model BetonMashNew.Models.Client

@{
    ViewBag.Title = "Наши клиенты";
}

<h2>Наши клиенты</h2>

@if (ViewBag.Regions != null)
{
    <p>
        <input type="button" id="but1" class="btn btn-default" value="Форма добавления клиентов" onclick="hideShowDiv();">
    </p>
    <p>
        <div id="formaddclients" style="display:none">
            @using (Html.BeginForm("MyClients", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.NameCompany, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.NameCompany, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.KodOPK, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.KodOPK, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Note, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Region, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <select id="Region" name="Region" class="form-control">
                            @foreach (BetonMashNew.Models.RegionCl a in ViewBag.Regions)
                            {
                                <option value="@a.RegionId">@a.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <select id="City" name="City" class="form-control">
                            @foreach (BetonMashNew.Models.CityCl a in ViewBag.Cities)
                            {
                                <option value="@a.CityId">@a.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Добавить клиента" />
                    </div>
                </div>
            }
        </div>
    </p>
}

@if (ViewBag.Clients!=null)
{ 
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Код ОКПО</th>
            <th>Регион</th>
            <th>Населенный пукнт</th>
            <th>Примечание</th>
            <th>Ред</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BetonMashNew.Models.ClientCi a in ViewBag.Clients)
        {
            <tr>
                <td>
                    @a.NameCompany
                </td>                
                <td>
                    @a.KodOPK
                </td>
                <td>
                    @a.NameRegion
                </td>
                <td>
                    @a.NameCity
                </td>
                <td>
                    @if (a.Note!=null)
                    {
                    if (a.Note.Length > 40)
                    {
                        string NoteV = a.Note.Replace("\r\n","");
                      @a.Note.Substring(0, 36) <a href="#" onclick="ale('@NoteV');return false">отбр</a>
                    }
                    else
                    {
                    @a.Note
                    }
                    }
                </td>
                <td>
                    @Html.ActionLink("Ред", "EditClient", new { id = a.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
}
@section Scripts {
@Scripts.Render("~/bundles/jqueryval") 
@Scripts.Render("~/Scripts/jquery.tablesorter.min.js")

    <script type="text/javascript">
    $(function () {


        $('#Region').change(function () {
            // получаем выбранный id
            $('#City').html('<option value="0">- выберите город -</option>');
            var id = $('#Region').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCitiesSelect", "System")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#City').html(data);
                }
            });
        });
    })

        $(document).ready(function () {
            $("#myTable").tablesorter();
        });

        function ale(a)
        {
            alert(a);
        }

        function hideShowDiv() {
            $('#formaddclients').toggle('slow');
        }



    </script>
}
