﻿@model IEnumerable<BetonMashNew.Models.MyRegionCl>
@{
    ViewBag.Title = "Edit";
}
<h3>
    Регионы пользователя @ViewBag.Name
</h3>

@using (Html.BeginForm("Edit", "Nikolas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
 <div class="form-group">
            <label class="col-md-2 control-label" for="Country">Страна</label>
            <div class="col-md-10">
                <select id="Country" name="Country" class="form-control">
                    @foreach (BetonMashNew.Models.CountryCl a in ViewBag.Countries)
                    {
                        <option value="@a.CountryId">@a.Name</option>
                    }
                </select>
            </div>
         </div>
            <div class="form-group">
            <label class="col-md-2 control-label" for="Region">Регион</label>
            <div class="col-md-10">
                <select id="Region" name="Region" class="form-control">
                    @foreach (BetonMashNew.Models.RegionCl a in ViewBag.Regions)
                    {
                        <option value="@a.RegionId">@a.Name</option>
                    }
                </select>
            </div>
         </div>
    <input type="hidden" name="name" value=@ViewBag.Name>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить область" />
        </div>
    </div>

}

<table>
    <tr>

        <th>
            Название региона
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Удалить", "DelRegion", new { id = ViewBag.Name, regId = item.IdUR })
            </td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Присвоить роль дилера", "Role", new { id = ViewBag.Name, Rol = "Dealer", C = true })
</p>
<p>
    @Html.ActionLink("Удалить роль дилера", "Role", new { id = ViewBag.Name, Rol = "Dealer", C = false })
</p>
<p>
    @Html.ActionLink("Присвоить роль админа", "Role", new { id = ViewBag.Name, Rol = "Admin", C = true })
</p>
<p>
    @Html.ActionLink("Удалить роль админа", "Role", new { id = ViewBag.Name, Rol = "Admin", C = false })
</p>
<p>
    @Html.ActionLink("Присвоить роль пользователя", "Role", new { id = ViewBag.Name, Rol = "User", C = true })
</p>
<p>
    @Html.ActionLink("Удалить роль пользователя", "Role", new { id = ViewBag.Name, Rol = "User", C = false })
</p>
<p>
    @Html.ActionLink("Сделать менеджером", "EditM", new { id = ViewBag.Name, M = true })
</p>
<p>
    @Html.ActionLink("Удалить менеджера", "EditM", new { id = ViewBag.Name,  M = false })
</p>
<p>
    @Html.ActionLink("Присвоить регионы и роли пользователя", "Take", new { id = ViewBag.Name })
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript">
        $(function () {

            $('#Country').change(function () {
                $('#Region').html('<option value="0">- выберите регион -</option>');
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetRegionsSelect", "System")/' + id,
                    success: function (data) {

                        // заменяем содержимое присланным частичным представлением
                        $('#Region').html(data);
                    }
                });
            });
        });
    </script>
}
