﻿@model IEnumerable<BetonMashNew.Models.AdminInfo>

@{
    ViewBag.Title = "Index";
}
<h2>Пользователи</h2>
<table class="table">
    <tr>
        <th>
            Логин
        </th>
        <th>
            Компания
        </th>
        <th>
            Код ОКПО
        </th>
        <th>
            E-mail
        </th>
        <th>
            Регионы влияния
        </th>
        <th>
            Роль
        </th>
        <th>
            Менеджер
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NameCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodOPK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol)
        </td>

           @if(item.M==true)
           {
    <td>Да</td>
           }
           else
           {
            <td>Нет</td>
           }

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserName }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
        </td>
    </tr>
}

</table>
