﻿
@{
    ViewBag.Title = "Take";
}

<h2>Передать права пользователю @ViewBag.Name</h2>

@using (Html.BeginForm("Take", "Nikolas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-10">
            <select id="Country" name="name" class="form-control">
                @foreach (BetonMashNew.Models.ApplicationUser a in ViewBag.Users)
                {
                    <option value="@a.UserName">@a.UserName</option>
                }
            </select>
        </div>
    </div>

    <input type="hidden" name="id" value=@ViewBag.Name>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Отобрать права" />
        </div>
    </div>

}

