﻿@model BetonMashNew.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    
     <div class="form-group">
        @Html.LabelFor(m => m.NameCompany, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NameCompany, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.KodOPK, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.KodOPK, new { @class = "form-control" })
        </div>
    </div>
    
        <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="Country" name="Country" class="form-control">
                    @foreach (BetonMashNew.Models.CountryCl a in ViewBag.Countries)
                    {
                        <option value="@a.CountryId">@a.Name</option>
                    }
                </select>
            </div>
         </div>
    
            <div class="form-group">
            @Html.LabelFor(m => m.Region, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="Region" name="Region" class="form-control">
                    @foreach (BetonMashNew.Models.RegionCl a in ViewBag.Regions)
                    {
                        <option value="@a.RegionId">@a.Name</option>
                    }
                </select>
            </div>
         </div>
    
         <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="City" name="City" class="form-control">
                    @foreach (BetonMashNew.Models.CityCl a in ViewBag.Cities)
                    {
                        <option value="@a.CityId">@a.Name</option>
                    }
                </select>
            </div>
         </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

<script type="text/javascript">
    $(function () {

        $('#Country').change(function ()
        {
            $('#Region').html('<option value="0">- выберите регион -</option>');
            $('#City').html('<option value="0">- выберите город -</option>');
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetRegionsSelect", "System")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#Region').html(data);
                }
            });
        });
        $('#Region').change(function () {
            // получаем выбранный id
            $('#City').html('<option value="0">- выберите город -</option>');
            var id = $('#Region').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCitiesSelect", "System")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#City').html(data);
                }
            });
        });
    })
</script>
}
