﻿@using BetonMashNew.Models
@{
    ViewBag.Title = "Клиенты";
}


@if (ViewBag.Clients != null)
{
    <h2>Клиенты @ViewBag.Name</h2>
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
                <th>Клиент (код ОКПО)</th>
                <th>Регион</th>
                <th>Населенный пукнт</th>
                <th>Примечание</th>
            </tr>
        </thead>


        @foreach (ClientCi a in ViewBag.Clients)
        {
        <tr>
            <td>
                @a.NameCompany
            </td>
            <td>
                @a.NameRegion
            </td>
            <td>
               @a.NameCity
            </td>
            <td>
                @if (a.Note != null)
                {
                    if (a.Note.Length > 40)
                    {
                        string NoteV = a.Note.Replace("\r\n", "");
                        @a.Note.Substring(0, 36) <a href="#" onclick="ale('@NoteV');return false">отбр</a>
                    }
                    else
                    {
                        @a.Note
                    }
                }
            </td>
        </tr>
        }
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.tablesorter.min.js")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#myTable").tablesorter();
        });

        function ale(a)
        {
            alert(a);
        }
    </script>
}
