﻿


@if (ViewBag.Del != null)
{
    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>E-mail</th>
                @if(ViewBag.M == false)
                { 
                <th>Код ОКПО</th>
                <th>Страна</th>
                <th>Регион</th>
                <th>Населенный пукнт</th>
                }
                <th>Регионы влияния</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BetonMashNew.Models.AdminInfo a in ViewBag.Del)
            {
                <tr>
                    <td>
                        @Html.ActionLink(a.NameCompany, "Clients", new { id = a.UserName })                       
                    </td>
                    <td>
                        @a.Email
                    </td>
                    @if(ViewBag.M == false)
                    { 
                    <td>
                        @a.KodOPK
                    </td>

                    <td>
                        @a.ContryName
                    </td>
                    <td>
                        @a.RegionName
                    </td>
                    <td>
                        @a.CityName
                    </td>
                    }
                    <td>
                        @a.Reg
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.tablesorter.min.js")

    <script type="text/javascript">
    

        $(document).ready(function () {
            $("#myTable").tablesorter();
        });


    </script>
}
