﻿@{
    ViewBag.Title = "Клиенты";
}

<h2>Информация</h2>

<div>
            @using (Ajax.BeginForm("Info", "Admin", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">

                <div class="col-md-10">
                    <select id="Country" name="Country" class="form-control">
                        @foreach (BetonMashNew.Models.CountryCl a in ViewBag.Countries)
                        {
                            <option value="@a.CountryId">@a.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    <select id="Region" name="Region" class="form-control">
                            <option value="0">- Все регионы -</option>
                    </select>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    <select id="City" name="City" class="form-control">  
                            <option value="0">- Все города -</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="Применить фильтр" class="btn btn-default" />
        }
        <p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Дилер/Менеджер (код ОКПО)</th>
                        <th>Клиент (код ОКПО)</th>
                        <th>Регион</th>
                        <th>Населенный пукнт</th>
                        <th>Примечание</th>
                    </tr>
                </thead>
                <tbody id="results"></tbody>
            </table>
        </p>
    </div>
<p>@Html.ActionLink("Все дилеры", "Dealer", new { id=0 })</p>
<p>@Html.ActionLink("Все менеджеры", "Dealer", new { id = 1 })</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


<script type="text/javascript">

    $(function () {

        $('#Country').change(function () {
            $('#Region').html('<option value="0">- Все регионы -</option>');
            $('#City').html('<option value="0">- Все регионы -</option>');
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetRegionsSelect", "System")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#Region').html('<option value="0">- Все регионы -</option>' + data);
                }
            });
        });
        $('#Region').change(function () {
            // получаем выбранный id
            $('#City').html('<option value="0">- Выберите город -</option>');
            var id = $('#Region').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCitiesSelect", "System")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#City').html('<option value="0">- Все города -</option>' + data);
                }
            });
        });
    })

    function ale(a) {
        alert(a);
    }
    </script>    
    }
