﻿@using BetonMashNew.Models
@if(ViewBag.Clients!= null)
{ 
    foreach(ClientCi a in ViewBag.Clients)
    { 
<tr>
    <td>
        @a.Dealer
    </td>
    <td>
        @a.NameCompany
    </td>
    <td>
        @Ajax.ActionLink(@a.NameRegion, "Info", new { Country = a.Country, Region = a.Region  }, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Get" })
    </td>
    <td>        
        @Ajax.ActionLink(@a.NameCity, "Info", new { Country = a.Country, Region = a.Region, City=a.City }, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Get" })
    </td>
    <td>
        @if (a.Note != null)
        {
            if (a.Note.Length > 40)
            {
                string NoteV = a.Note.Replace("\r\n", "");
                @a.Note.Substring(0, 36) <a href="#" onclick="ale('@NoteV');return false">отбр</a>
            }
            else
            {
                @a.Note
            }
        }
    </td>
</tr>
}
}